@import '../root/var';

.splash-screen {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    background: #FFFFFF;
    .content-splash {
       max-width: 50%;
       display: flex;
       flex-direction: column;
       .img-splash {
        max-width: 100%;
        text-align: center;
       }
       .btn-splash {
        width: 184px;
        background-color: $color-main;
        text-align: center;
        border-radius: 15px 0 15px 0;
        font-family: $font-sec;
        font-size: $font-size / 2;
        line-height: normal;
        font-weight: 400;
        color: #FFFFFF;
       }
    }
}

.container {
    width: 100%;
    height: 100vh;
    .welcome-pg {
        max-width: 100%;
        height: 50vh;
        background: $color-main;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;   
        img {
            max-width: 100%;
            height: 100%;
        }
    }
    .welcome-title {
        max-width: 100%;
        height: 50vh;
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;  
        .welcome-title-content {
            max-width: 90%;
            text-align: center;
        }
        h2 {
            font-size: $font-size / 3;
            font-weight: 700;
            text-align: left;
            margin-bottom: 15px;
            color: $color-sec;
        }
        p {
            font-size: $font-size / 3;
            font-weight: 400;
            text-align: left;
            margin-bottom: 80px;
            color: $color-thr;
        }
        input {
            width: 327px;
            height: 56px;
            border-radius: 10px;
            border: none;
            outline: none;
            background: #F7F5F5;
            padding: 0 20px;
            box-sizing: border-box;
            font-size: $font-size / 3;
            color: #C2BDBDB2;
            display: block;
            margin-bottom: 80px;
            @media (max-width:350px) {
                max-width: 100%;    
            }
        }
                button {
                    font-weight: 600;
                    width: 327px;
                    height: 56px;
                    background: $color-main;
                    border: none;
                    color: #FFFFFF;
                    border-radius: 10px;
                    cursor: pointer;
                    @media (max-width:350px) {
                        max-width: 100%;    
                    }
                }
            
    }
}

