.splash-screen {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
  background: #FFFFFF;
}
.splash-screen .content-splash {
  max-width: 50%;
  display: flex;
  flex-direction: column;
}
.splash-screen .content-splash .img-splash {
  max-width: 100%;
  text-align: center;
}
.splash-screen .content-splash .btn-splash {
  width: 184px;
  background-color: #FFA451;
  text-align: center;
  border-radius: 15px 0 15px 0;
  font-family: "Bad Script", cursive;
  font-size: 1.5rem;
  line-height: normal;
  font-weight: 400;
  color: #FFFFFF;
}

.container {
  width: 100%;
  height: 100vh;
}
.container .welcome-pg {
  max-width: 100%;
  height: 50vh;
  background: #FFA451;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .welcome-pg img {
  max-width: 100%;
  height: 100%;
}
.container .welcome-title {
  max-width: 100%;
  height: 50vh;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "TT Norms Pro", sans-serif;
}
.container .welcome-title .welcome-title-content {
  max-width: 90%;
  text-align: center;
}
.container .welcome-title h2 {
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 15px;
  color: #27214D;
}
.container .welcome-title p {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  margin-bottom: 80px;
  color: #5D577E;
}
.container .welcome-title input {
  width: 327px;
  height: 56px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #F7F5F5;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 1rem;
  color: rgba(194, 189, 189, 0.6980392157);
  display: block;
  margin-bottom: 80px;
}
@media (max-width: 350px) {
  .container .welcome-title input {
    max-width: 100%;
  }
}
.container .welcome-title button {
  font-weight: 600;
  width: 327px;
  height: 56px;
  background: #FFA451;
  border: none;
  color: #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
}
@media (max-width: 350px) {
  .container .welcome-title button {
    max-width: 100%;
  }
}

body {
  background: linear-gradient(180deg, rgb(255, 255, 255) 14%, rgb(255, 255, 255) 24%, rgba(229, 229, 229, 0.9892331933) 68%);
}

.menu-home {
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.menu-home ul .menu-hamburguer {
  display: inline-block;
  cursor: pointer;
}
.menu-home ul li {
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin: 3px;
  font-size: 0.9090909091rem;
  color: "Bad Script", cursive;
}
.menu-home .car {
  width: 48px;
  height: 48px;
  background: #FFFFFF;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.content-search {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.content-search .box {
  width: 288px;
  height: 56px;
  border-radius: 16px;
  background: #F5F5F5;
  display: flex;
  padding: 0 10px;
  margin: 3px;
  align-items: center;
}
.content-search .box input {
  padding: 0 10px;
  outline: none;
  border: none;
  background: transparent;
  flex: 1;
}
.content-search .filter-search {
  width: 35px;
  height: 55px;
  padding: 5px;
  background: #F7F7FC;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  cursor: pointer;
  box-sizing: border-box;
}

.filter .filter-content {
  max-width: 100%;
  height: 45px;
  margin-top: 20px;
  background: #FAFAFA;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .filter .filter-content {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    -webkit-overflow-scrolling: touch;
  }
  .filter .filter-content::-webkit-scrollbar {
    display: none;
  }
}
.filter .filter-content .card-filter {
  width: 150px;
  height: 32px;
  padding: 0 22px;
  background: #FFFFFF;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media (max-width: 500px) {
  .filter .filter-content .card-filter {
    display: inline-block;
    justify-content: center;
    line-height: 2;
    text-align: center;
  }
}

.content-recommended {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}
.content-recommended .title-recommended {
  width: 85%;
}
.content-recommended .title-recommended h2 {
  max-width: 190px;
  font-size: 1.1278195489rem;
  line-height: 40px;
  border-bottom: 2px solid #FFA451;
  font-family: "TT Norms Pro", sans-serif;
}
.content-recommended .cards-area {
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.content-recommended .cards-area .card-recommended {
  width: 152px;
  height: 183px;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 16px;
  margin: 10px;
  position: relative;
  box-sizing: border-box;
}
.content-recommended .cards-area .card-recommended .card-content {
  padding: 12px;
}
.content-recommended .cards-area .card-recommended .card-content .card-like {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.content-recommended .cards-area .card-recommended .card-content .card-add {
  position: absolute;
  top: 145px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.content-recommended .cards-area .card-recommended .card-content h2 {
  font-weight: 600;
  font-size: 0.8108108108rem;
  color: #27214D;
  margin-top: 10px;
}
.content-recommended .cards-area .card-recommended .card-content p {
  color: #FFA451;
  font-size: 0.8108108108rem;
  font-weight: 600;
  position: absolute;
  top: 150px;
  right: 50px;
}

.content-feed {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content-feed .list-feed {
  width: 85%;
}
.content-feed .list-feed ul {
  max-width: 260px;
  display: flex;
}
.content-feed .list-feed ul li {
  margin: 3px;
  font-size: 1.1278195489rem;
  line-height: 40px;
  cursor: pointer;
  font-family: "TT Norms Pro", sans-serif;
}
.content-feed .list-feed ul li:hover {
  border-bottom: 2px solid #FFA451;
}
.content-feed .list-feed ul li:nth-child(1) {
  border-bottom: 2px solid #FFA451;
}/*# sourceMappingURL=style.css.map */